{% extends "base.html" %}
{% block content %}

<div class="container py-2">
    <h1 style="text-align: center;"> GRAFICAS VALOR/TOTAL EN AUTORIZACIONES</h1>
</div>

  <div class="container py-5">
  <div class="row">
      <div class="col">
        {% if form.errors %}
        <p style="color: red;"> Por favor, completa todos los campos, todos son necesarios </p>
        {% endif %}
          <form action="/autValorTotal/" method="POST">
              {% csrf_token %}
              
              <div class="mb-3">
                <label for="fechaIn" class="form-label">Fecha Inicio:</label>
               <input type="date" class="form-control" name="fechaIn" 
                        placeholder="dd/mm/yyyy" value=""
                        min="01/01/1900" max="2030-12-31" id="fechaIn">
              </div>
               <div class="mb-3">
                <label for="fechaFin" class="form-label">Fecha Fin:</label>
               <input type="date" class="form-control" name="fechaFin" 
                        placeholder="dd/mm/yyyy" value=""
                        min="01/01/1900" max="2030-12-31" id="fechaFin">
              </div>
              <button type="submit" class="btn btn-dark btn-lg">Buscar Autorizaciones</button>
            </form>
          </div>
      </div>
  </div>

  {%if fechas_Autorizacion %}
  <div class="container py-2">
    <h1 style="text-align: center;"> Grafica Autorizaciones/Valor </h1></br></br>
     
  </div>
  <div class="chartBox">
  <canvas id="graficaAutorizacionValor" width="400" height="400"></canvas>
  </div>
 
  
  <div class="container py-2">
    <h1 style="text-align: center;"> Grafica Autorizaciones/Total</h1>
  </div>

  <div class"chartBox">
  <canvas id="graficaAutorizacionTotal" width="400" height="400"></canvas>
  </div>

  <script src="path/to/chartjs/dist/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
  <script>
   const ctx = document.getElementById('graficaAutorizacionValor');

   const graficaAutorizacionValor = new Chart(ctx, {
       type: 'line',
       data: {
           labels: ["17/01/2021","17/01/2021","25/01/2021","24/02/2021"]
           datasets: [{
               label: 'Fecha de Autorizacion',
               data: {{totales_Sin_Iva}},
               backgroundColor: [
                   'rgba(255, 99, 132, 0.2)',
                   'rgba(54, 162, 235, 0.2)',
                   'rgba(255, 206, 86, 0.2)',
                   'rgba(75, 192, 192, 0.2)',
                   'rgba(153, 102, 255, 0.2)',
                   'rgba(255, 159, 64, 0.2)'
               ],
               borderColor: [
                   'rgba(255, 99, 132, 1)',
                   'rgba(54, 162, 235, 1)',
                   'rgba(255, 206, 86, 1)',
                   'rgba(75, 192, 192, 1)',
                   'rgba(153, 102, 255, 1)',
                   'rgba(255, 159, 64, 1)'
               ],
               borderWidth: 1
           }]
       },
       options: {
           scales: {
               y: {
                   beginAtZero: true
               }
           }
       }
   });

   const ctx2 = document.getElementById('graficaAutorizacionTotal');

   const graficaAutorizacionValor = new Chart(ctx2, {
       type: 'line',
       data: {
           labels: {{fechas_Autorizacion}},
           datasets: [{
               label: 'Fecha de Autorizacion',
               data: {{totales_Con_Iva}},
               backgroundColor: [
                   'rgba(255, 99, 132, 0.2)',
                   'rgba(54, 162, 235, 0.2)',
                   'rgba(255, 206, 86, 0.2)',
                   'rgba(75, 192, 192, 0.2)',
                   'rgba(153, 102, 255, 0.2)',
                   'rgba(255, 159, 64, 0.2)'
               ],
               borderColor: [
                   'rgba(255, 99, 132, 1)',
                   'rgba(54, 162, 235, 1)',
                   'rgba(255, 206, 86, 1)',
                   'rgba(75, 192, 192, 1)',
                   'rgba(153, 102, 255, 1)',
                   'rgba(255, 159, 64, 1)'
               ],
               borderWidth: 1
           }]
       },
       options: {
           scales: {
               y: {
                   beginAtZero: true
               }
           }
       }
   });

  </script>

  {% endif %}
{% endblock content%}