{% extends "base.html" %}
{% block content %}

<div class="container py-2">
    <h1 style="text-align: center;"> GRAFICAS VALOR/TOTAL EN AUTORIZACIONES</h1>
</div>

  <div class="container py-5">
  <div class="row">
      <div class="col">
        {% if form.errors %}
        <p style="color: red;"> Por favor, completa todos los campos, todos son necesarios </p>
        {% endif %}
          <form action="/autValorTotal/" method="POST">
              {% csrf_token %}
              
              <div class="mb-3">
                <label for="fechaIn" class="form-label">Fecha Inicio:</label>
               <input type="date" class="form-control" name="fechaIn" 
                        placeholder="dd/mm/yyyy" value=""
                        min="01/01/1900" max="2030-12-31" id="fechaIn">
              </div>
               <div class="mb-3">
                <label for="fechaFin" class="form-label">Fecha Fin:</label>
               <input type="date" class="form-control" name="fechaFin" 
                        placeholder="dd/mm/yyyy" value=""
                        min="01/01/1900" max="2030-12-31" id="fechaFin">
              </div>
              <button type="submit" class="btn btn-dark btn-lg">Buscar Autorizaciones</button>
            </form>
          </div>
      </div>
  </div>

  {%if fechas_Autorizacion %}
    <div class="container">
        <h1 style="text-align: center;"> Grafica de Autorizaciones por fecha </h1></br></br>
   
        <canvas id="graficaAutorizaciones" width="600" height="300" ></canvas>
    </div>
    </br></br></br></br>

   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>
        const ctx = document.getElementById('graficaAutorizaciones');

        const Chart_graficaAutorizaciones = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{fechas_Autorizacion|safe}},
                datasets: [{
                    label: ['Valor sin IVA',],
                    data: {{totales_Sin_Iva}},
                    backgroundColor: [
                        'rgba(45, 226, 220, 0.8)'
                    ],
                    borderColor: [
                        'rgba(6, 6, 6, 0.8)'
                    ],
                    borderWidth: 1
                },
                {
                    label: ['Valor Total',],
                    data: {{totales_Con_Iva}},
                    backgroundColor: [
                        'rgba(226, 88, 45, 0.8)'
                        
                    ],
                    borderColor: [
                        'rgba(6, 6, 6, 0.8)'
                    ],
                    borderWidth: 1
                }
                ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

    </script>
    

  {% endif %}
{% endblock content%}