{% extends "base.html" %}
{% block content %}
<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">APP SAT</h1>
      <p class="lead text-muted">Solicitudes de autorizaciones</p>
    </div>
  </section>

  <div class="jumbotron text-center">
    <div class="container" >
       <h2>BIENVENIDO</h2>
    </div>
 </div>
  {% endblock content %}
  
  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="{% url 'index' %}">Regresar al tope</a>
      </p>
      <p>Ejemplo de Tienda de Productos &copy; Bootstrap.</p>
      <p>¿Nuevos en Bootstrap? <a href="../../">Visiten la pagina oficial </a> o consulten <a href="../../getting-started/"> la guía de inicio</a>.</p>
    </div>
  </footer>